.btn{
    padding: 1rem 1rem;
    border: 2px solid var(--white);
    cursor: pointer;
    border-radius: .25rem;
    text-align: center;
    margin-top: 2rem;
    width: 98.5%;
  
 
}
.btn:hover{
    background-color: white;
    color: black;
    transition: all .5s;
}
.btns{
    padding: 1rem 1rem;
    border: 2px solid var(--white);
    cursor: pointer;
    border-radius: .25rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    width: 98.5%;
  
 
}
.btns:hover{
    background-color: white;
    color: black;
    transition: all .5s;
}
