.custom-input{
    background-color:var(--theme--);
    color: var(--white);
    border: 2px solid var(--purple-grey);
    border-radius: 0.25rem;
    font-size: 1rem;
    margin:1rem;
    padding: 1rem 0rem;
    padding-left: 1rem;
    width: 100%;
 
}
.custom-input:focus{
    outline: none;
    border-color: var(--white);
}
.custom-input::placeholder{
    color: var(--purple-grey);
}
.label-input{
    color:var(--purple-grey)
}
.ACTIVE{
    border-color: var(--white);
}